<div class="">
  <div class="container">
    <div class="flex items-center justify-between">
      <div class="flex items-center">
        <p>Sort By</p>
        <form action="">
          <select name="" id="">
            <option value="">Price</option>
            <option value="">Name</option>
            <option value="">Date</option>
          </select>
        </form>
      </div>
    </div>
  </div>
</div>
