{% comment %} Category Slider Section {% endcomment %}

<div class="py-[80px]">
  <div class="text-center container m-auto tablet:px-3 swiper mySwiper">
    <div class="swiper-wrapper">
      {% for collection in collections %}
        <div
          class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev text-center"
          data-swiper-slide-index="0"
          style="width: 222.667px; margin-right: 40px;"
        >
          <div class="w-[130px] h-[130px] object-contain text-center m-auto">
            <img
              alt="{{ collection.title }}"
              src="{{ collection | img_url: '450x450' }}"
              class="w-full h-full object-contain"
            >
          </div>
          <div>
            <a href="{{ collection.url }}">
              <p class="text-[25px] leading-[30px] font-light font-title cursor-pointer">{{ collection.title }}</p>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="swiper-button-next after:text-primary after:fill-primary"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>

<script>
  var swiper = new Swiper('.mySwiper', {
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    slidesPerView: 6,
    breakpoints: {
      320: {
        slidesPerView: 2,
      },
      480: {
        slidesPerView: 3,
      },
      768: {
        slidesPerView: 3,
      },
      1024: {
        slidesPerView: 4,
      },
      1280: {
        slidesPerView: 6,
      },
    },
  });
</script>

{% schema %}
{
  "name": "Category Slider",
  "settings": [
    {
      "type": "text",
      "id": "category_limit",
      "label": "Category Limit",
      "default": "10"
    }
  ],
  "presets": [
    {
      "name": "Category Slider"
    }
  ]
}
{% endschema %}
