<div class="content-section">
  <h2>Privacy Policy</h2>
  <p>
    Looking to match everything at your next event-like even the chocolates. We offer 4 box sizes with 7 different
    colors and patterns to choose from. As simple as that! Make it customized to your liking
  </p>
  <p>
    Looking to match everything at your next event-like even the chocolates. We offer 4 box sizes with 7 different
    colors and patterns to choose from. As simple as that! Make it customized to your liking
  </p>

  <h2>Privacy Policy</h2>
  <p>
    Looking to match everything at your next event-like even the chocolates. We offer 4 box sizes with 7 different
    colors and patterns to choose from. As simple as that! Make it customized to your liking
  </p>
  <p>
    Looking to match everything at your next event-like even the chocolates. We offer 4 box sizes with 7 different
    colors and patterns to choose from. As simple as that! Make it customized to your liking
  </p>

  <h3>Privacy Policy</h3>
  <p>
    Looking to match everything at your next event-like even the chocolates. We offer 4 box sizes with 7 different
    colors and patterns to choose from. As simple as that! Make it customized to your liking
  </p>
  <p>
    Looking to match everything at your next event-like even the chocolates. We offer 4 box sizes with 7 different
    colors and patterns to choose from. As simple as that! Make it customized to your liking
  </p>
</div>
