<style>
  .content-section {
    padding: 50px 15px;
    max-width: 70%;
    margin: 0 auto;
  }
  .content-section h2 {
    font-size: 37px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  .content-section h4 {
    font-size: 27px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .content-section p {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .content-section ol,
  .content-section ul {
    margin-bottom: 20px;
  }
  .content-section ol li,
  .content-section ul li {
    font-size: 20px;
    font-weight: 500;
    list-style: disc;
    margin-left: 20px;
  }
  @media (max-width: 768px) {
    .content-section {
      max-width: 100%;
    }
  }
</style>
<div>
  <div
    class="pt-[90px] pb-[60px] flex items-center justify-center text-center bg-no-repeat bg-cover bg-gray-50"
  >
    <div class="container m-auto">
      <div class="w-[900px] m-auto pt-[100px] tablet:w-full tablet:px-3">
        <h2 class="title-lx">{{ page.title }}</h2>
      </div>

      <div class="">
        <h2 class="text-center text-[18px] font-title font-normal leading-[40px] phone:text-[29px]">
          <a href="/">Home &gt; </a><a href="{{ section.settings.page_link }}">{{ page.title }}</a>
        </h2>
      </div>
    </div>
  </div>

  <div class="container m-auto">
    <div class="content-section">
      {{ page.content }}
    </div>
  </div>
</div>
