<div class="bg-[url('/assets/images/bg-right.svg')] bg-no-repeat bg-right-bottom pt-[180px] laptop:px-4">
  <div class="py-[66px]">
    <div class=" flex justify-center text-center gap-5 container m-auto">
      <div>
        <h2 class="text-[28px] pb-10 ">Please Select Your Try Size</h2>
        <div class="grid grid-cols-5 items-center justify-center gap-5 phone:grid-cols-2">
          {% for product in section.settings.try_product %}
            <div class="text-center my-5 cursor-pointer text-center">
              <a href="{{ product.url }}">
                {% for image in product.images limit: 1 offset: 1 %}
                  <img
                    src="{{ image | img_url: 'original'}}"
                    alt=""
                    class="w-[300px] h-[160px] mb-5 object-contain phone:h-[100px] m-auto text-center"
                  >
                {% endfor %}
              </a>
              <h3 class="border-[1px] py-2 border-primary rounded-md mt-2">
                <a href="{{ product.url }}">{{ product.description }}</a>
              </h3>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Customize Try Section",
  "settings": [
    {
      "type": "text",
      "id": "tray_title",
      "label": "Tray Title",
      "default": "Please Select Your Try Size"
    },
    {
      "type": "product_list",
      "id": "try_product",
      "label": "Tray Products"
    }
  ],

  "presets": [
    {
      "name": "Customize Try Section"
    }
  ]
}
{% endschema %}
