<div class="header">
  <div class=" bg-primary py-2 laptop:px-4">
    <div class="m-auto tablet:px-3 container">
      <div class="flex gap-4 justify-between">
        <div>
          <div id="google_translate_element">
            <div class="skiptranslate goog-te-gadget" dir="ltr" style="">
              <div id=":0.targetLanguage">
                <select
                  class="goog-te-combo bg-transparent text-white"
                  aria-label="Language Translate Widget"
                >
                  <option value="">Select Language</option>
                  <option value="fr">French</option>
                  <option value="iw">Hebrew</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="">
          <p class="text-white text-[16px]">Shipping To All Over Canada</p>
        </div>
        <div class="hidden">
          <select class="text-[14px] bg-transparent text-white" name="usd" id="usd">
            <option value="usd">USD</option>
            <option value="cad">CAD</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="relative container m-auto tablet:px-3 laptop:px-4">
    <div class="flex justify-between items-center">
      <div class="cursor-pointer">
        <span
          style="box-sizing: border-box; display: inline-block; overflow: hidden; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative; max-width: 100%;"
          ><span
            style="box-sizing: border-box; display: block; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; max-width: 100%;"
            ><img
              alt=""
              aria-hidden="true"
              src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2790%27%20height=%2790%27/%3e"
              style="display: block; max-width: 100%; width: initial; height: initial; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px;"></span
          ><img
            alt="logo"
            src="https://chocolate-eight.vercel.app/assets/images/logo.svg"
            decoding="async"
            data-nimg="intrinsic"
            srcset="https://chocolate-eight.vercel.app/assets/images/logo.svg 1x, https://chocolate-eight.vercel.app/assets/images/logo.svg 2x"
            style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
          ><noscript></noscript
        ></span>
      </div>
      <div class="relative main-menu tablet:hidden">
        <ul class="flex gap-12 miniLaptop:gap-5 h-[96px] items-center">
          <li class="cursor-pointer"><a>All Chocolates</a></li>
          <li class="cursor-pointer group-hover group py-[48px]">
            <a>Signature Collections</a>
            <div
              class="hidden group-hover:block hover:block left-[35%] transform -translate-x-1/2 top-[96px] bg-white/70 pt-8 pb-14 px-12 mt-0 justify-start gap-10 overflow-hidden absolute z-50 bg-auto bg-no-repeat bg-right-top m-auto w-auto max-w-full container tablet:px-3"
            >
              <div class="flex gap-[50px]">
                <div class="inline-block">
                  <div class="border-2 border-secondary rounded-full overflow-hidden w-[100px] h-[100px]">
                      <img
                        src="{{ product.featured_image | product_img_url: 'medium' }}"
                        style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
                        srcset="/_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=128&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=256&amp;q=75 2x"
                    ></span>
                  </div>
                  <h3 class="text-center mt-2 hover:text-primary">Heart Collection</h3>
                </div>
                <div class="inline-block">
                  <div class="border-2 border-secondary rounded-full overflow-hidden w-[100px] h-[100px]">
                    <span
                      style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 100px; height: 100px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"
                      ><img
                        src="/_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=256&amp;q=75"
                        decoding="async"
                        data-nimg="fixed"
                        style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
                        srcset="/_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=128&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=256&amp;q=75 2x"
                    ></span>
                  </div>
                  <h3 class="text-center mt-2 hover:text-primary">Log Collection</h3>
                </div>
              </div>
              <div class="absolute right-0 bottom-0">
                <button
                  class="bg-primary py-3 px-7 text-white hover:text-white hover:bg-primary/95"
                >
                  Shop All
                </button>
              </div>
            </div>
          </li>
          <li class="cursor-pointer group-hover group py-[48px]">
            <a>Party Platters</a>
            <div
              class="hidden group-hover:block hover:block left-1/2 transform -translate-x-1/2 bg-white/70 top-[96px] pt-8 pb-14 px-12 mt-0 justify-start gap-10 overflow-hidden absolute z-50 bg-auto bg-no-repeat bg-right-top m-auto w-auto max-w-full container tablet:px-3"
            >
              <div class="flex gap-[50px]">
                <div class="inline-block">
                  <div class="border-2 border-secondary rounded-full overflow-hidden w-[100px] h-[100px]">
                    <span
                      style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 100px; height: 100px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"
                      ><img
                        src="/_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=256&amp;q=75"
                        decoding="async"
                        data-nimg="fixed"
                        style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
                        srcset="/_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=128&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=256&amp;q=75 2x"
                    ></span>
                  </div>
                  <h3 class="text-center mt-2 hover:text-primary">Chocolate Platters | 1-Tier</h3>
                </div>
                <div class="inline-block">
                  <div class="border-2 border-secondary rounded-full overflow-hidden w-[100px] h-[100px]">
                    <span
                      style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 100px; height: 100px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"
                      ><img
                        src="/_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=256&amp;q=75"
                        decoding="async"
                        data-nimg="fixed"
                        style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
                        srcset="/_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=128&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=256&amp;q=75 2x"
                    ></span>
                  </div>
                  <h3 class="text-center mt-2 hover:text-primary">Chocolate Platters | 2-Tier</h3>
                </div>
                <div class="inline-block">
                  <div class="border-2 border-secondary rounded-full overflow-hidden w-[100px] h-[100px]">
                    <span
                      style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 100px; height: 100px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"
                      ><img
                        src="/_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=256&amp;q=75"
                        decoding="async"
                        data-nimg="fixed"
                        style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
                        srcset="/_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=128&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=256&amp;q=75 2x"
                    ></span>
                  </div>
                  <h3 class="text-center mt-2 hover:text-primary">Chocolate Platters | 3-Tier</h3>
                </div>
              </div>
              <div class="absolute right-0 bottom-0">
                <button
                  class="bg-primary py-3 px-7 text-white hover:text-white hover:bg-primary/95"
                >
                  Shop All
                </button>
              </div>
            </div>
          </li>
          <li class="cursor-pointer group-hover group py-[48px]">
            <a>Gourmet Gifts</a>
            <div
              class="hidden group-hover:block hover:block left-1/2 transform -translate-x-1/2 top-[96px] bg-white/70 mt-0 justify-start gap-10 overflow-hidden absolute z-50 bg-auto bg-no-repeat bg-right-top m-auto container tablet:px-3"
            >
              <div class="grid grid-cols-7">
                <div class="relative col-span-5 pt-8 pb-14 px-8 ">
                  <div class="grid grid-cols-3 gap-3 text-center">
                    <div class="inline-block text-center">
                      <div
                        class="border-2 border-secondary rounded-full overflow-hidden w-[100px] h-[100px] inline-block"
                      >
                        <span
                          style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 100px; height: 100px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"
                          ><img
                            src="/_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=256&amp;q=75"
                            decoding="async"
                            data-nimg="fixed"
                            srcset="/_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=128&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=256&amp;q=75 2x"
                            style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
                          ><noscript></noscript
                        ></span>
                      </div>
                      <h3 class="text-center mt-2 hover:text-primary">Personal</h3>
                    </div>
                    <div class="inline-block text-center">
                      <div
                        class="border-2 border-secondary rounded-full overflow-hidden w-[100px] h-[100px] inline-block"
                      >
                        <span
                          style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 100px; height: 100px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"
                          ><img
                            src="/_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=256&amp;q=75"
                            decoding="async"
                            data-nimg="fixed"
                            srcset="/_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=128&amp;q=75 1x, /_next/image?url=%2Fassets%2Fimages%2Fproduct%2F01.png&amp;w=256&amp;q=75 2x"
                            style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
                          ><noscript></noscript
                        ></span>
                      </div>
                      <h3 class="text-center mt-2 hover:text-primary">Corporate</h3>
                    </div>
                  </div>
                  <div class="absolute right-0 bottom-0">
                    <button
                      class="bg-primary py-3 px-7 text-white hover:text-white hover:bg-primary/95"
                    >
                      Shop All
                    </button>
                  </div>
                </div>
                <div class="bg-[#FAFAFA]/70 col-span-2 text-center flex items-center justify-center">
                  <div>
                    <h4 class="font-bold hover:text-primary">Customize Your Box!</h4>
                    <div class="inline-block mt-3 group">
                      <div
                        class="border-2 border-secondary rounded-sm overflow-hidden w-[100px] h-[100px] text-center m-auto"
                      >
                        <span
                          style="box-sizing: border-box; display: inline-block; overflow: hidden; width: 100px; height: 100px; background: none; opacity: 1; border: 0px; margin: 0px; padding: 0px; position: relative;"
                          ><img
                            src="/assets/images/instagram/01.svg"
                            decoding="async"
                            data-nimg="fixed"
                            srcset="/assets/images/instagram/01.svg 1x, /assets/images/instagram/01.svg 2x"
                            style="position: absolute; inset: 0px; box-sizing: border-box; padding: 0px; border: none; margin: auto; display: block; width: 0px; height: 0px; min-width: 100%; max-width: 100%; min-height: 100%; max-height: 100%;"
                          ><noscript></noscript
                        ></span>
                      </div>
                      <h3 class="text-center mt-2 hover:text-primary">Many Color Options!</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="cursor-pointer"><a href="">Contact</a></li>
        </ul>
      </div>
      <div class="relative ">
        <div class="flex items-center gap-8 phone:gap-5">
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            class="icons"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path fill="none" d="M0 0h24v24H0V0z"></path>
            <path
              d="M6.54 5c.06.89.21 1.76.45 2.59l-1.2 1.2c-.41-1.2-.67-2.47-.76-3.79h1.51m9.86 12.02c.85.24 1.72.39 2.6.45v1.49c-1.32-.09-2.59-.35-3.8-.75l1.2-1.19M7.5 3H4c-.55 0-1 .45-1 1 0 9.39 7.61 17 17 17 .55 0 1-.45 1-1v-3.49c0-.55-.45-1-1-1-1.24 0-2.45-.2-3.57-.57a.84.84 0 00-.31-.05c-.26 0-.51.1-.71.29l-2.2 2.2a15.149 15.149 0 01-6.59-6.59l2.2-2.2c.28-.28.36-.67.25-1.02A11.36 11.36 0 018.5 4c0-.55-.45-1-1-1z">
            </path>
          </svg>
          <svg
            stroke="currentColor"
            fill="currentColor"
            stroke-width="0"
            viewBox="0 0 24 24"
            class="icons"
            height="1em"
            width="1em"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z">
            </path>
          </svg>
          <div class="relative">
            <p class="absolute -top-4 -right-3 bg-primary/20 h-6 w-6 rounded-full text-center font-bold text-primary">
              0
            </p>
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 512 512"
              class="icons"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M458.4 64.3C400.6 15.7 311.3 23 256 79.3 200.7 23 111.4 15.6 53.6 64.3-21.6 127.6-10.6 230.8 43 285.5l175.4 178.7c10 10.2 23.4 15.9 37.6 15.9 14.3 0 27.6-5.6 37.6-15.8L469 285.6c53.5-54.7 64.7-157.9-10.6-221.3zm-23.6 187.5L259.4 430.5c-2.4 2.4-4.4 2.4-6.8 0L77.2 251.8c-36.5-37.2-43.9-107.6 7.3-150.7 38.9-32.7 98.9-27.8 136.5 10.5l35 35.7 35-35.7c37.8-38.5 97.8-43.2 136.5-10.6 51.1 43.1 43.5 113.9 7.3 150.8z">
              </path>
            </svg>
          </div>
          <div class="relative">
            <p class="absolute -top-4 -right-3 bg-primary/20 h-6 w-6 rounded-full text-center font-bold text-primary">
              {{ cart.item_count }}
            </p>
            <svg
              stroke="currentColor"
              fill="currentColor"
              stroke-width="0"
              viewBox="0 0 24 24"
              class="icons"
              height="1em"
              width="1em"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g>
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                  d="M4 16V4H2V2h3a1 1 0 0 1 1 1v12h12.438l2-8H8V5h13.72a1 1 0 0 1 .97 1.243l-2.5 10a1 1 0 0 1-.97.757H5a1 1 0 0 1-1-1zm2 7a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm12 0a2 2 0 1 1 0-4 2 2 0 0 1 0 4z">
                </path>
              </g>
            </svg>
          </div>
        </div>
      </div>
      <div class="group relative hidden tablet:block tablet:px-3">
        <svg
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 12 16"
          class="text-primary"
          height="32"
          width="32"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path fill-rule="evenodd"
            d="M11.41 9H.59C0 9 0 8.59 0 8c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zm0-4H.59C0 5 0 4.59 0 4c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zM.59 11H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1H.59C0 13 0 12.59 0 12c0-.59 0-1 .59-1z">
          </path>
        </svg>
      </div>
    </div>
    <div></div>
  </div>
</div>
