<div style="overflow-x: hidden;">
  <div>
    <img
      class="img-fluid heroImage"
      src="{{ section.settings.hero_landing_logo | img_url: '' }}"
      alt=""
      loading="eager"
      width="auto"
      height="auto"
    >
  </div>
  <div></div>
</div>

{% schema %}
{
  "name": "Landing Hero Section",
  "settings": [
    {
      "type": "image_picker",
      "id": "hero_landing_logo",
      "label": "Hero Landing Banner"
    }
  ],

  "presets": [
    {
      "name": "Landing Hero Section"
    }
  ]
}
{% endschema %}
