<style>
  .notFound {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  .notFound h2 {
    font-size: 32px;
    font-weight: 700;
  }
</style>
<div class="notFound">
  <h2>Opps something is wrong!</h2>
</div>