<div class="password-section">
  <img
    src="{{ 'logo.svg' | asset_url }}"
    width=""
    height=""
    alt="">

  <div>
    <h2>Our store is currently close!</h2>
    <p>Please come back when our store is open</p>
  </div>

  <div class="timer-section">
    <h2>Our Store will be back online in
    </h2>
  </div>
</div>

{% comment %} <div>

        {% form 'storefront_password' %}
          {{ form.errors | default_errors }}

          <div class="h-[100vh]">
            <div class="password">
              <label for="password">Password</label>
              <input type="password" name="password">
            </div>

            <div class="submit">
              <input type="submit" value="Sign in">
            </div>
          </div>
        {% endform %}
</div> {% endcomment %}


{% schema %}
  {
    "name": "Paasword Page",
    "settings": [
      {
        "type": "text",
        "id": "secton_title",
        "label": "Section Title",
        "default": "Discover Our Flavors"
      },
      {
        "type": "text",
        "id": "section_subtitle",
        "label": "Section Subtitle",
        "default": "All hand made in our factory"
      }
    ],
    "presets": [
      {
        "name": "Paasword Page"
      }
    ]
  }
{% endschema %}