<div class="py-[50px] bg-[#fafafa]">
  <div class="w-[70%] m-auto">
    <div class="grid grid-flow-col gap-5">
      <div class="col-span-5">
        <div>
          <img
            class="w-full h-[380px] object-cover rounded-[10px]"
            src="{{  article.image.src | img_url: 'large' }}"
            alt="{{article.title}}"
          >
        </div>
        <div class="flex items-center justify-between mt-2">
          <p class="text-[14px] font-content">Dark Chocolate</p>
          <p class="text-[14px] font-content">Written By: Ahoron Weisz</p>
        </div>

        <div class="mt-10">
          <h2 class="text-[32px] font-title">10 Best Chocolate To buy Now</h2>
        </div>

        <div class="blogContent">
          <h2>What is Lorem Ipsum?</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
          </p>

          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
          </p>

          <h2>What is Lorem Ipsum?</h2>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
          </p>

          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of
            Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like
            Aldus PageMaker including versions of Lorem Ipsum.
          </p>
        </div>
      </div>
      <div class="col-span-4">
        <h2 class="text-[25px]">See Other Articles</h2>

        <div class="bg-white p-[20px] rounded-[10px] mt-[10px] items-center">
          <ul class="flex flex-col divide-y ">
            <li class="py-2"><a href="">All Chocolate</a></li>
            <li class="py-2"><a href="">Signature Collection</a></li>
            <li class="py-2"><a href="">Party platters</a></li>
            <li class="py-2"><a href="">Gourmet gift</a></li>
            <li class="py-2"><a href="">Seasonal Chocolate</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
