@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
  color: #ea5329;
}
.shopify-email-marketing-confirmation__container {
  max-width: 560px;
  max-width: 65ch;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.shopify-email-marketing-confirmation__container h1 {
  font-size: 45px;
  font-weight: 700;
}
.shopify-email-marketing-confirmation__container p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
body#product\.custom-three .wishlist-whale-button-container-float-right,
body#product\.custom-two .wishlist-whale-button-container-float-right,
body#product\.custom-four .wishlist-whale-button-container-float-right,
body#product\.custom-six .wishlist-whale-button-container-float-right {
  display: none;
}
.outStock {
  background: rgb(234, 83, 41);
  color: white;
  padding: 5px 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  font-size: 18px;
}
.blogContent {
  margin-top: 30px;
}
.blogContent h2 {
  padding: 10px 0px;
  font-size: 25px;
}
.blogContent p {
  padding: 10px 0px;
}
.imageFilter {
  position: relative;
}
.imageFilter::before {
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(253, 253, 253, 0.67);
  z-index: 0;
}

body#page\.discover-our-flavours .promiseGrid {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
}
body#page\.discover-our-flavours .promiseGrid div {
  width: 100%;
}
body#page\.discover-our-flavours .promiseGrid h3 {
  font-size: 30px !important;
}
@media only screen and (max-width: 600px) {
  body#page\.discover-our-flavours .promiseGrid {
    flex-wrap: wrap;
  }
}
