.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
  color: #ea5329;
}
.shopify-email-marketing-confirmation__container {
  max-width: 560px;
  max-width: 65ch;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.shopify-email-marketing-confirmation__container h1 {
  font-size: 45px;
  font-weight: 700;
}
.shopify-email-marketing-confirmation__container p {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}
body#product\.custom-three .wishlist-whale-button-container-float-right,
body#product\.custom-two .wishlist-whale-button-container-float-right,
body#product\.custom-four .wishlist-whale-button-container-float-right,
body#product\.custom-six .wishlist-whale-button-container-float-right {
  display: none;
}
